# Environment Files
.env
.env.local
.env.*.local

# Python Caches and Compiled Files
__pycache__/
*.py[cod]
*$py.class

# Django Generated Directories
/backend/media/
/backend/data/
/backend/static/
db.sqlite3

# Python Virtual Environments
/backend/venv/
venv/
env/
.venv/
ENV/

# OS-specific files
.DS_Store
Thumbs.db

# IDE & Editor configs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
